body {
    background-color: white;
}

.input-section, .output-section {
    height: 44vh;
    width: 96vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
}

.input-section {
    background: #dadada;
}

.output-section {
    color: #d4d4d4;
    overflow-y: auto;
    white-space: pre-wrap;
}

textarea {
    margin-bottom: 2vh;
    flex: 1;
    height: 25vh;
    width: 89vw;
    font-family: monospace;
    font-size: 1.4em;
    padding: 2vh 2vw;
    resize: none;
}

button {
    padding: 3vh 3vw;
    font-size: 1em;
    align-self: flex-start;
}

.output-screen {
    margin-bottom: 2vh;
    padding: 2vh 2vw;
    background: #1e1e1e;
    width: 89vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
}

.table-wrapper {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
}

.output-table {
    width: 100%;
    border-collapse: collapse;
    font-family: monospace;
    color: #d4d4d4;
    border-collapse: collapse;
    table-layout: fixed;
}

.output-table th,
.output-table td {
    border: 1px solid #444;
    padding: 0.6em;
    vertical-align: top;
}

.output-table th {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #2d2d2d;
    box-shadow: 0 2px 0 #444;
}

.output-table tr:nth-child(even) {
    background: #252526;
}

#output-box {
    padding: 1vh 1vw;
}

.output-buttons {
    width: 89vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
}

.top-buttons, .bottom-button {
    display: flex;
    gap: 0.5em;
}

@media (min-width: 800px) {

    .output-section {
        display: flex;
        flex-direction: row;
        gap: 0.1vw;
    }

    .output-screen {
        height: 38vh;
        margin-bottom: 0;
    }

    .output-buttons {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 41vh;
    }

    .top-buttons {
        display: flex;
        flex-direction: column; /* stack two buttons vertically */
        gap: 1vh;
    }

    .bottom-button {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .output-buttons button {
        width: 100%;
        padding: 2vh 1vw;
        font-size: 1em;
    }
}