body {
    background-color: white;
}

.input-section, .output-section {
    height: 44vh;
    width: 96vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
}

.input-section {
    background: #dadada;
}

.output-section {
    color: #d4d4d4;
    overflow-y: auto;
    white-space: pre-wrap;
}

textarea {
    margin-bottom: 2vh;
    flex: 1;
    height: 25vh;
    width: 89vw;
    font-family: monospace;
    font-size: 1.4em;
    padding: 2vh 2vw;
    resize: none;
}

button {
    padding: 3vh 3vw;
    font-size: 1em;
    align-self: flex-start;
}

.output-secreen {
    margin-bottom: 2vh;
    padding: 2vh 2vw;
    background: #1e1e1e;
    width: 89vw;
    height: 25vh;
}

#output-box {
    padding: 1vh 1vw;
}

.output-buttons {
    width: 89vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
}

.top-buttons, .bottom-button {
    display: flex;
    gap: 0.5em;
}

@media (min-width: 800px) {

    .output-section {
        display: flex;
        flex-direction: row;
        gap: 0.1vw;
    }

    .output-secreen {
        height: 38vh;
        margin-bottom: 0;
    }

    .output-buttons {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 41vh;
    }

    .top-buttons {
        display: flex;
        flex-direction: column; /* stack two buttons vertically */
        gap: 1vh;
    }

    .bottom-button {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .output-buttons button {
        width: 100%;
        padding: 2vh 1vw;
        font-size: 1em;
    }
}